.imageWall {
  display: block;

  .item {
    @include transition(1s opacity ease);
    margin: 10px;
    max-width: 100%;
    display: block;
    float: left;
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    &.active {
      button {
        display: block;
      }

      .content {
        display: block;
      }
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
