article.item {
  .content {
    height: 100%;
    z-index: 1;

    .slide {
      display: none;
      float: left;
      height: 100%;
      outline: none;

      &.visible {
        display: block;
      }
    }
  }

  button {
    background: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    display: none;
    z-index: 2;
    width: 39px;
    outline: none;

    svg {
      width: 100%;
    }

    &.left {
      left: -45px;
    }
    &.right {
      right: -45px;
    }
  }
}
