@import "compass/css3";

@include font-face("SuisseIntl-Bold", font-files("SuisseIntl-Bold.otf"));
@include font-face("SuisseIntl-Thin", font-files("SuisseIntl-Thin.otf"));

// components
@import "normalize";
@import "variables";

html, body {
  font-family: $thin;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

#app {
  position: relative;
  max-width: 1000px;
  height: 100%;
  margin: 50px auto 0;
}

// elements
@import "splashscreen";
@import "imagewall";
@import "slideshow";

// modules
@import "header";
@import "footer";
